body {
    margin:0px;
    background-color: #3366ff; 
}
.container {
    overflow: hidden;
}
.color {
    padding-left:50px;
    top:50px;
    position: relative;
    text-decoration: none; 
    font-size: 60px;
    color:white;
}
header {
    height: 170px;
}

header nav {
    float: right;
}

header nav ul li {
    float: left;
    margin-top: 60px;
    list-style-type: none; 
    font-size: 20px;
    padding-right: 30px;
}

header nav ul li a {
    color: #02b8dd;
    margin-left:0px; 
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
    padding-top: -400px;
    text-decoration: none; 
}
header nav ul li a:hover{
     background-color:darkblue;
    color: #fff;
}
.image-slider {
    width: 400%;
    position: relative;
    animation: 8s slider infinite;
    height: 467px;
}
img {
    width: 25%;
/*    float:left;*/

}

@keyframes slider {
    0%    { left: 0px }
    25%   { left: 0px  }
    33%   { left: -100% }
    58%   { left: -100% }
    66%   { left: -200% }
    91%   { left: -200% }
    100%  { left: -300% }
}
